<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Selection genre</title>
</head>
<body>
<form th:action="@{/voirfilm}"
      method="POST">
<select name="genrechoisi">
    <option th:each="genre : ${listegenre}"
            th:value="${genre.nature}"
            th:text="${genre.nature}">Genre</option>
</select>
    <button type="submit"> valider </button>
</form>
</body>
</html>